@import "./normalize.css";

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}
.manage_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e9e9e9;
  border-radius: 5px;
}
.header1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 40%;
}
#tname {
  color: #858585;
  margin-right: 30px;
}
.header1 #createGame,
#showGames {
  background: none;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  height: 80px;
}
.header1 #showGames:hover {
  background-color: #626262;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  height: 80px;
}
.header1 #createGame:hover {
  background-color: #626262;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  height: 80px;
}
.header2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-evenly;
}
.header2 input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
}
#find_input {
  margin: 0 auto;
}
#search_button,
#clear_button {
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 5px;
  border-width: 3px;
  cursor: pointer;
}
#search_button {
  color: rgb(11, 95, 221);
  border-style: none;
  border: 2px solid rgb(11, 95, 221);
}
#clear_button {
  color: rgb(189, 4, 4);
  border-style: none;
  border: 2px solid rgb(189, 4, 4);
}
h2 {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sort {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#sort_button {
  background-color: #9e3b06;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#cost {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#count_button {
  background-color: #960404;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}
.strip {
  display: flex;
  flex-direction: column;
  background-color: #858585;
  width: 80%;
  height: 2px;
  align-items: center;
  border-radius: 5px;
  margin: 20px 45px;
}
.create_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
label {
  display: block;
  padding-bottom: 7px;
}
label,
textarea,
select,
#price,
#name,
#submit_button {
  margin-left: 13%;
  display: block;
}
#name,
#description,
#price,
#type,
#submit_button {
  margin-bottom: 18px;
  padding: 8px;
  width: 70%;
}
#type,
#submit_button {
  width: 75%;
  margin-bottom: 30px;
}
#submit_button {
  background-color: #9e3b06;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.left-content {
  width: 35%;
  margin-right: 70px;
}
.right-content {
  width: 65%;
}
.game-info {
  border: 1px solid #4a4a4a;
  background-color: #cececed7;
  border-radius: 10px;
  padding: 15px;
  margin: 20px 40px;
  width: 40%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.game-info button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  width: 30%;
}
.delete_button {
  background-color: #a30a0a;
  margin-right: 10%;
}
.edit_button {
  background-color: #0061cf;
  margin-left: 10%;
  margin-right: 15%;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.219);
  padding-left: 35%;
  padding-top: 20px;
}
.modal-content {
  background-color: #fefefe;
  padding: 25px;
  border: 1px solid #888;
  width: 30%;
  height: auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: auto;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content input[type="text"],
.modal-content textarea,
.modal-content select,
.modal-content label {
  width: 80%;
  margin-left: 0px;
  color: #1f1f1f;
}
.modal-content label {
  width: 84%;
}
.modal-content select {
  width: 84%;
}
.modal-content input[type="text"],
.modal-content select {
  height: 30px;
  padding: 0px 8px;
}
.modal-content textarea {
  padding: 8px 8px;
}
#edit-name,
#edit-description,
#edit-price,
#edit-type {
  margin-bottom: 15px;
}
.modal-button {
  margin-top: 15px;
  margin-bottom: 18px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
#save_button,
#cancel_button {
  height: 35px;
  width: 100px;
  border-radius: 5px;
  color: white;
  border-style: none;
}
#save_button {
  background-color: #0061cf;
}
#cancel_button {
  background-color: #960404;
}
